<%= form_with(model: keyword_maping) do |form| %>
  <% if keyword_maping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(keyword_maping.errors.count, "error") %> prohibited this keyword_maping from being saved:</h2>

      <ul>
        <% keyword_maping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :channel_id %>
    <%= form.text_field :channel_id %>
  </div>

  <div class="field">
    <%= form.label :keyword %>
    <%= form.text_field :keyword %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
