<p id="notice"><%= notice %></p>

<h1>Keyword Mapings</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Keyword</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keyword_mapings.each do |keyword_maping| %>
      <tr>
        <td><%= keyword_maping.channel_id %></td>
        <td><%= keyword_maping.keyword %></td>
        <td><%= keyword_maping.message %></td>
        <td><%= link_to 'Show', keyword_maping %></td>
        <td><%= link_to 'Edit', edit_keyword_maping_path(keyword_maping) %></td>
        <td><%= link_to 'Destroy', keyword_maping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword Maping', new_keyword_maping_path %>
